.about-wrap {
    z-index: 100;
    width: 90%;
    margin: 1rem auto 0;
    padding-bottom: 0.2rem;
    border: 0.01rem solid #ddd;
    background-color: #fefefe;
    box-shadow: 0.14rem 0.11rem 0.27rem #111;
}

.about-wrap article {
    width: 70%;
    margin: 0 auto;
}

.about-wrap article h2 {
    font-size: 0.4rem;
    font-weight: bold;
    font-style: italic;
    margin-top: -0.4rem;
    margin-left: -1rem;
    color: #222;
}

.about-wrap article p {
    padding-top: 0.3rem;
    font-size: 0.14rem;
}

.line-bg {
    clear: both;
    height: 0.2rem;
    background: url(../img/line.jpg) top left repeat-x;
}
