.mainbody {
    width: 90%;
    padding-top: 1rem;
    min-height: calc(100% - 2.2rem);
}

.mainbody .box {
    float: left;
    padding: 0.1rem;
}

.mainbody .box .pic {
    padding: 0.1rem;
    border: 0.01rem solid #ccc;
    border-radius: 0.06rem;
    box-shadow: 0 0 0.05rem #ccc;
    cursor: pointer;
}

.mainbody .box .pic img {
    width: 2rem;
    height: auto;
}

.mainbody .lightbox-wrap {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.mainbody .lightbox {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    /*margin-left: -1.5rem;
    margin-top: -1.5rem;*/
    width: 3rem;
    z-index: 1001;
}

.lightbox .lightbox-view {
    border: 5px solid #fff;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    background: #fff url(../img/loading.gif) no-repeat center center;
}

.lightbox .lightbox-view .lightbox-img {
    display: block;
}

.lightbox .lightbox-view .lightbox-btn {
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.lightbox .lightbox-view .lightbox-btn-next {
    right: 0;
}

.lightbox .lightbox-view .lightbox-btn-next-show {
    background: url(../img/next.png) no-repeat right center;
}

.lightbox .lightbox-view .lightbox-btn-prev {
    left: 0;
}

.lightbox .lightbox-view .lightbox-btn-prev-show {
    background: url(../img/prev.png) no-repeat left center;
}

.lightbox .lightbox-view .lightbox-close-btn {
    position: absolute;
    width: 27px;
    height: 27px;
    top: 0;
    right: 0;
    cursor: pointer;
}

.lightbox .lightbox-view .lightbox-close-btn-show {
    background: rgba(0, 0, 0, 0.5) url(../img/close.png) no-repeat center center;
}
