body {
    color: #6a6f8c;
}

a {
    color: #6a6f8c;
}

.wrap {
    min-height: 100%;
}

.mainbody {
    width: 50% !important;
}

input, button {
    outline: none;
    border: none;
}

.login-html {
    width: 50%;
    margin: 0 auto;
    padding: 0.2rem 0.3rem 0.2rem;
    background: rgba(40, 57, 101, .9);
}

.sign-up-htm {
    position: relative !important;
}

.login-html .sign-in-htm, .login-html .sign-up-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.login-html .sign-in, .login-html .sign-up, .login-form .group .check {
    display: none;
}

.login-html .tab {
    font-size: 0.22rem;
    margin-right: 0.15rem;
    padding-bottom: 0.05rem;
    margin: 0 0.15rem 0.1rem 0;
    display: inline-block;
    border-bottom: 0.02rem solid transparent;
}

.login-html .sign-in:checked+.tab, .login-html .sign-up:checked+.tab {
    color: #fff;
    border-color: #1161ee;
}

.login-form {
    position: relative;
}

.login-form .group {
    margin-bottom: 0.15rem;
}

.login-form .group .label, .login-form .group .input, .login-form .group .button {
    width: 100%;
    color: #fff;
    display: block;
}

.login-form .group .input, .login-form .group .button {
    border: none;
    padding: 0.1rem 0 0.1rem 0.1rem;
    border-radius: 0.25rem;
    background: rgba(255, 255, 255, .1);
    box-sizing: border-box;
}

.login-form .sign-up-htm .group .input {
    width: 50%;
    display: inline-block;
}

.login-form .sign-up-htm .group .input + span {
    font-size: 0.14rem;
    padding-left: 0.1rem;
}

.login-form .sign-up-htm .group .input + img {
    padding-left: 0.1rem;
    vertical-align: middle;
    cursor: pointer;
}

.login-form .group .label {
    color: #aaa;
    font-size: 0.12rem;
}

.login-form .group .button {
    background: #1161ee;
    font-size: 0.16rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

.login-form .group label .icon {
    width: 0.15rem;
    height: 0.15rem;
    border-radius: 0.02rem;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1);
}

.login-form .group label .icon:before, .login-form .group label .icon:after {
    content: '';
    width: 0.1rem;
    height: 0.02rem;
    background: #fff;
    position: absolute;
    -webkit-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}

.login-form .group label .icon:before {
    left: 0.03rem;
    width: 0.05rem;
    bottom: 0.06rem;
    -webkit-transform: scale(0) rotate(0);
    -ms-transform: scale(0) rotate(0);
    transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
    top: 0.06rem;
    right: 0;
    -webkit-transform: scale(0) rotate(0);
    -ms-transform: scale(0) rotate(0);
    transform: scale(0) rotate(0);
}

.login-form .group .check:checked+label {
    color: #fff;
}

.login-form .group .check:checked+label .icon {
    background: #1161ee;
}

.login-form .group .check:checked+label .icon:before {
    -webkit-transform: scale(1) rotate(45deg);
    -ms-transform: scale(1) rotate(45deg);
    transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked+label .icon:after {
    -webkit-transform: scale(1) rotate(-45deg);
    -ms-transform: scale(1) rotate(-45deg);
    transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked+.tab+.sign-up+.tab+.login-form .sign-in-htm {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.login-html .sign-up:checked+.tab+.login-form .sign-up-htm {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.hr {
    height: 0.02rem;
    margin: 0.5rem 0;
    background: rgba(255, 255, 255, .2);
}

.sign-up-htm a {
    color: #1161ee;
}

.sign-up-htm .hr {
    margin: 0.1rem 0;
}

.foot-lnk, .text-center {
    text-align: center;
}

footer {
    padding-top: 0.1rem !important;
}
