/**
 * 页面样式
 */


/**
 * 默认设置
 */

html {
    font-size: 625%;
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/**
 * 工具样式
 */

.clearfix::before,
/*before防止浏览器顶部空白崩溃*/

.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}


/**
 * 自定义样式
 */

html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.12rem;
    line-height: 1.5;
    background: #ddd url(banner.jpg) no-repeat center fixed;
    background-size: cover;
}

.wrap {
    background: rgba(0, 0, 0, 0.4);
}


/**
 * 页头样式
 */

.height {
    height: 100%;
}

header {
    height: 10%;
}

header .logo {
    line-height: 0.6rem;
    padding-left: 0.3rem;
    float: left;
}

header .logo img {
    vertical-align: middle;
}

header nav ul {
    float: right;
    font-size: 0.16rem;
}

header nav ul li {
    position: relative;
    bottom: 0;
    display: inline-block;
}

header nav ul li a {
    display: inline-block;
    color: #fff;
    line-height: 0.5rem;
    margin-right: 0.2rem
}

header nav ul li a:hover {
    border-bottom: 4px solid #fff;
}

.current {
    border-bottom: 4px solid #fff;
}


/**
 * 内容样式
 */

.mainbody {
    width: 70%;
    margin: 0 auto;
    padding-top: 0.7rem;
    margin-bottom: 0.2rem;
}

.mainbody .content {
    width: 77%;
    float: left;
    background: #fff;
}

.banner {
    width: 80%;
    margin: 0 auto;
    height: calc(90% - 1.02rem);
    text-align: center;
}

.inner {
    padding-top: 0.3rem;
    height: 50%;
}

.inner .myname {
    display: block;
    font-size: 0.4rem;
    color: #fff;
    padding: 0.2rem;
    width: 3rem;
    margin: 0 auto;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.inner .myword {
    height: 20%;
    display: block;
    font-size: 0.2rem;
    color: #fff;
    padding-top: 0.3rem;
    margin: 0 auto;
}

.enter-btn {
    position: relative;
    height: 35%;
    font-size: 0.2rem;
    letter-spacing: 0.04rem;
    color: #fff;
    padding: 0.14rem 0.28rem;
    border: 0.02rem solid #fff;
    border-radius: 0.1rem;
}

.enter-btn .line {
    display: block;
    position: absolute;
    -webkit-transition: .4s ease;
    transition: .4s ease;
}

.enter-btn:hover .line {
    background: #fff;
}

.enter-btn .line-top {
    height: 0.02rem;
    width: 0;
    left: -110%;
    top: -0.02rem;
}

.enter-btn:hover .line-top {
    width: 88%;
    left: 0.06rem;
}

.enter-btn .line-right {
    height: 0;
    width: 0.02rem;
    top: -110%;
    right: -0.02rem;
}

.enter-btn:hover .line-right {
    height: 77%;
    top: 0.06rem;
}

.enter-btn .line-bottom {
    height: 0.02rem;
    width: 0;
    right: -110%;
    bottom: -0.02rem;
}

.enter-btn:hover .line-bottom {
    width: 88%;
    right: 0.06rem;
}

.enter-btn .line-left {
    height: 0;
    width: 0.02rem;
    bottom: -110%;
    left: -0.02rem;
}

.enter-btn:hover .line-left {
    height: 77%;
    bottom: 0.06rem;
}


/**
 * 页脚样式
 */


/*footer {
    margin-top: 0.2rem;
    width: 100%;
    min-height: 1rem;
    text-align: center;
    color: #fff;
    background: #333;
}

footer .copy {
    font-size: 0.16rem;
    line-height: 1rem;
}

.foot {
    display: table;
    min-height: 15%;
    margin: 0;
}

.foot .copy {
    display: table-cell;
    vertical-align: middle;
    line-height: 0;
}*/

footer {
    float: right;
    margin-right: 0.5rem;
    height: 0.5rem;
    padding-top: 0.5rem;
}

footer .copy {
    font-size: 0.16rem;
    color: #fff;
}


/**
 * 进度条样式
 */

.container {
    background: linear-gradient(to right, #2c3b4e, #4a688a, #2c3b4e);
    width: 55%;
    margin: 0.02rem auto 0;
    padding: 0.2rem 5%;
    border-radius:0.2rem;
}

.container .wait {
    display: block;
    font-size: 0.26rem;
    color: #fff;
    margin-bottom: 0.1rem;
}

.bar-unfill {
    height: 0.2rem;
    padding: 0.05rem;
    display: block;
    background: #262626;
    border-radius:0.2rem;
}

@keyframes progressbar {
    from {
        background-position: 0.4rem 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes animate-positive {
    from {
        width: 0%;
    }
}

.bar-fill-stripes {
    position: relative;
    height:0.2rem;
    line-height: 0.2rem;
    font-size: 0.14rem;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    display:block;
    color: #fff;
    overflow: hidden;
    width:60%;
    border-radius:0.2rem;
    background-color: #5bc0de;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    animation: reverse progressbar 0.40s linear infinite, animate-positive 2s;
    transition: width .6s ease;
    background-size: 0.4rem 0.4rem;
}
